{ Filter = { Bundles { Filter = { Bundles = ( "ph.telegra.Telegraph", "com.flankerch.telegram", "pro.shahho.org.telegram.TelegramEnterprise", "ir.faraaz.mobilegram", "com.mubiquo.telegram", "com.loopy.secondid", "com.iSiberry.iTele", "ir.telehgram.app", "com.iranianapp.IranGram", "com.iranianapp.IranGram2", "com.aniways.TelegramWithAniways", "org.getgems.messenger", "ru.tcsbank.MTTelegramPROD", "com.karmies.karmiegram" ); }; }
